name: Style

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install ".[test]"

      - name: Run ruff
        run: |
          ruff check .
          ruff format --check .
